:root {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Tahoma;
    color: #1e1e1e;
    text-align: center;
    background: rgb(246, 180, 56);
}

/* Deprecated */
marquee {
    padding: 1rem;
    *height: 3rem;
    width: 75%;
    background: rgb(45, 184, 45);
    border-top: 1px solid #1e1e1e;
    border-bottom: 1px solid #1e1e1e;

/* Don't work */
    *direction: ltr; 
    *behavior: slide;
}

span {
    display: inline-block;
    height: 1rem;
    width: 6rem;
}